<ion-view view-title="Con.Tran.S.S">
	<ion-content>
		<style scoped="" type="text/css">
			.angular-google-map-container { height: 660px; }
		</style>
		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-markers models="routes" coords="'self'"></ui-gmap-markers>
		
		</ui-gmap-google-map>
	</ion-content>
	<div class="row" style=" position: fixed; bottom: 20px;">
		<div class="col">
			<button class="button button-block button-balanced" ng-click="back(choice)">
			Πίσω
			</button>
		</div>
	</div>
</ion-view>