<ion-view view-title="Contranss">
  <ion-content class="padding">
    <div class="list card">
        <button class="button button-icon ion-android-playstore" ng-click = "processWithTracking()">Δες χάρτη</button>
        <button class="button button-icon ion-android-document" ng-click = "processWithComplaints()">Κάνε παράπονο</button>
        <button class="button button-icon ion-android-textsms" ng-click = "processWithNotification()">Ειδοποιήσεις</button>
    </div>
  </ion-content>
</ion-view>
