<ion-view view-title="Badges">
  <ion-content class="padding">
    <div class="list card">
    	
      <div class="item item-avatar">
    	<img src="newbie.jpg">
    	<h2>Πρώτη φορά σε λεωφορείο</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="adventurer.jpg">
    	<h2>10 διαφορετικές γραμμές</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="explorer.jpg">
    	<h2>25 διαφορετικές γραμμές</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="superstar.jpg">
    	<h2>50 διαφορετικές γραμμές</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="local.jpg">
    	<h2>Μια εβδομάδα στο ίδο λεωφορείο</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="superuser.jpg">
    	<h2>Καθημερινή χρήση για ένα μήνα</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="farfaraway.jpg">
    	<h2>Καλως ήρθες στα προάστια</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="hangover.jpg">
    	<h2>Πάλι λιώμα είσαι</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="swimmies.jpg">
    	<h2>Θαλασσόλυκος</h2>
   		</div>

   		<div class="item item-avatar">
    	<img src="greatoutdoors.jpg">
    	<h2>Πειηγητής</h2>
   		</div>

    </div>
  </ion-content>
</ion-view>
