<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Αρχική" icon-off="ion-android-bus" icon-on="ion-android-bus" href="#/tab/notification">
    <ion-nav-view name="tab-notification"></ion-nav-view>
  </ion-tab>

  <!--Badges tab-->
  <ion-tab title="Badges" icon-off="ion-ios-speedometer" icon-on="ion-ios-speedometer" href="#/tab/badges">
    <ion-nav-view name="tab-badges"></ion-nav-view>
  </ion-tab>
  
  <!--Complaints-->
  <ion-tab title="Complaints" icon-off="ion-thumbsdown" icon-on="ion-thumbsdown" href="#/tab/complaint">
    <ion-nav-view name="tab-complaint"></ion-nav-view>
  </ion-tab>
</ion-tabs>
