<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Πρόσθεσε νέo παράπονο">
  <ion-content class="padding">
  	<div class="list">
      <div class="item item-checbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Πολυκοσμία
      </div>

      <div class="item item-checbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Αίσθηση ασφάλειας
      </div>

      <div class="item item-checbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Εξυπηρέτηση οδηγού
      </div>

      <div class="item item-checbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Γενική αίσθηση ικανοποίησης
      </div>

      <div class="item item-checbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Ταχύτητα
      </div>
  	</div>
  </ion-content>
</ion-view>
